<header>
    <section class = logo-titulo>
        <img src = "./images/logo.png" class= "logo">
        <a class ="link" href = "/index"><h1 class = "titulo" >Vivero</h1></a>
        </section>
           
    <nav class= "barra-titulo">  
    <ul>
        <li><a class ="link" href = "productDetail">Productos</a></li>
        <li><a class ="link" href = "register">Registrate</a></li>
        <li><a class ="link" href = "newProduct">Agregar Producto</a></li>
        <li><a class ="link" href = "editProduct">Editar Producto</a></li>
    </ul>
    </nav>

    <section class = "barra-busqueda">
        Buscar
    </section>
    
    <section>
    <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i>
        </a>
    </section>
    <section class = "iconos">
        <a class ="link" href = "productCart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <a class ="link" href = "login"><i class="fa fa-user" aria-hidden="true"></i></a>
     </section>


</header>