<header>
    <section class = logo-titulo>
        <img src = "/images/logo.png" class= "logo">
        <a class ="link" href = "/index"><h1 class = "titulo" >Vivero</h1></a>
        </section>
           
    <nav class= "barra-titulo">  
    <% if (locals.isLogged) {%>
    <ul>
        <li><a class ="link" href = "/products">PRODUCTOS</a></li>
        <li><a class ="link" href = "/products/create">AGREGAR PRODUCTO</a></li>
    </ul>
    </nav>          
    <% } else {%>
        <ul>
            <li><a class ="link" href = "/products">PRODUCTOS</a></li>
            <li><a class ="link" href = "/user/register">REGISTRATE</a></li>
        </ul>
    <% } %>

    <div class = "barra-busqueda">
        <form action="/search" method="GET">
                <input type="text" name="keywords" placeholder="Buscar tu planta">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
     </div>
    
    <section>
    <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i>
        </a>
    </section>
    <section class = "iconos">
        <a class ="link" href = "/productCart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <a class ="link" href = "/user/login"><i class="fa fa-user" aria-hidden="true"></i></a>
     </section>


</header>