<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Home"}) %>

<body class = "home">
   
     <!-- header-->
     <%- include("./partials/header.ejs") %>

    <main>
    <section class = "bienvenidos">
    <h2>
         ¡ocurrió un error! ¡Prueba nuevamente!        
    </h2>
        <section class = "whatsapp">
           <a class ="link" href = "#">
               <img src = "./images/whatsapp.png">
            </a>
        </section>
        <section class = "planta">
            <img src = "./images/logo.png">
        </section>
    </section>
    </main>


    <!-- footer-->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>