<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Home"}) %>

<body class = "home">
   
     <!-- header-->
     <%- include("./partials/header.ejs") %>

    <main>
    <section class = "bienvenidos">
    <h2 class = "text-bienvenidos">
        <% if (locals.isLogged) {%>
            ¡HOLA <%= user.fullName %>!
                <% } else {%>
            BIENVENIDOS/AS    
                <% } %>
        
    </h2>

    <h3 class = "text-home">
        Plantas de interior, exterior, árboles, plantines de estación, macetas y una amplia gama de productos exclusivos del rubro.
    </h3>
        <section class = "whatsapp">
           <a class ="link" href = "#">
               <img src = "./images/whatsapp.png">
            </a>
        </section>
        <section class = "planta">
            <img src = "./images/logo.png">
        </section>
    </section>
    </main>


    <!-- footer-->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>