<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero - Productos </title>
    <link rel="stylesheet" href ="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <section class = logo-titulo>
        <img src = "./images/logo.png" class= "logo">
        <a class ="link" href = "/home.html"><h1 class = "titulo" >Vivero</h1></a>
        </section>
               
        <nav class= "barra-titulo">  
        <ul>
            <li><a class ="link" href = "porduct.Detail.html">Productos</a></li>
            <li><a class ="link" href = "register.html">Registrate</a></li>
            <li><a class ="link" href = "#">Contacto</a></li>
        </ul>
        </nav>

        <section class = "barra-busqueda">
            Buscar
        </section>
        
        <section>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
            </a>
        </section>
        <section class = "iconos">
            <a class ="link" href = "productCart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            <a class ="link" href = "login.html"><i class="fa fa-user" aria-hidden="true"></i></a>
         </section>


    </header>
      <main>
        <section class = seccionproducto>
            <div class = imagenproducto>
                <img src = "./images/plantaproducto.jpg" class= "producto1">
            </div>
            <div class = datosproducto>
                <div>
                    <h2 class = tituloproducto>
                        NOMBRE PRODUCTO
                    </h2>
                    <h3>
                       $550
                    </h3>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </h4>
                    <h5>
                        VER MEDIOS DE PAGO
                     </h5>
                     <h5>
                        CALCULAR COSTOS DE ENVIO
                     </h5> 

                </div>
                <div class = "cantidad-agregar">
                    <h5>
                        CANTIDAD
                     </h5>
                     <div class = cantidad>
                        <form action="/" method="GET" class="formulario-cantidad">
                            <div class = "control-formulario">
                                <input type="text" name="cantidad" placeholder="1" class="control" required>
                                <span class="feedback"></span>
                            </div>
                     </div>
                     <h6>
                         AGREGAR
                     </h6> 
                </div>

            </div>

        </section>
    </main>


    <footer class = "footer-paginas">
        <div class = "footer-contenido">
            <div class = "footer-1"></div>
              <section class = "footer-1">
                VIVERO
              </section>
            <div class = "footer-1a">
                 <ul> 
                     <li> <a href = "#"><i class="fab fa-facebook-f"></i></a></li> 
                     <li> <a href = "#"><i class="fab fa-twitter"></i></a></li>
                    <li> <a href = "#"><i class="fab fa-instagram"></i></a></li>
                </ul> 
            </div>
        </div>  
    </footer>
  </body>
</html>