<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Registrate"}) %>
<body>
     <!-- header-->
     <%- include("./partials/header.ejs") %>

    <main>
    <section class = "login">
         <h2>
            CREAR CUENTA
        </h2>
          <h3>
           Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!
        </h3>
    </section>
    <section class = formulariologin>
        <div class = formulario>
            <form action="/resultadoRegister" method="POST" class="formulario-registracion">
                <!-- <form action="/" method="GET" class="formulario-registracion">-->
                    <div class = "control-formulario">
                        <input type="text" name="nombre" placeholder="Nombre y apellido" class="control" minlength="2" required>
                        <span class="feedback"></span>
                    </div>
                    <div class = "control-formulario">
                        <input type="text" name="user" placeholder="Nombre de usuari@" class="control" required>
                    </div>
                    <div class = "control-formulario">
                        <label>Fecha de nacimiento:</label>
                        <input type="date" name="fecha" class="control">
                    </div>
                    <div class = "control-formulario">
                        <input type="text" name="domi" placeholder="Domicilio" class="control" required>
                    </div>
                    <div class = "control-formulario"> 
                        <label>Foto de usuario:</label>
                        <input type="file" name ="avatar" accept=".jpg, .png" multiple>
                    </div>
                    <div class = "control-formulario">
                        <label>Contraseña:</label>
                        <input type="password" name ="password" class ="control" required>
                    </div> 
                    <div class = "control-formulario">
                        <label>Repetí tu contraseña:</label>
                        <input type="password" name ="password" class ="control" required>
                    </div>
                    <button type="submit" class="boton-formulario">Crear Cuenta</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </form>
        </div>
         <div class = imagenformulariocuenta>
        </div>
    </section>
    </main>


       <!-- footer-->
       <%- include("./partials/footer.ejs") %>
  </body>
</html>