* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rosario', sans-serif;
    font-size: 0.99rem;
    text-decoration:none;
    font-style: normal;
}

.mediosdepago {
    width: 50%;
}

.mediosdepagotext + .mediosdepago {
    display: none;
     transition: all 1000ms;
  
}


.mediosdepagotext:hover + .mediosdepago {
    display: block;
    color: black;
    transition: all 1000ms;
 }


.link {
    color: white;
    margin-right: 10px;
    transition: all 700ms;
    
}

.link:hover {
    font-weight:900;
    font-size: 1.1rem;

}

.errores {
    color:red;
    margin-top: 5px;
    margin-left: 5px;
}

.home {
    background-image: url("../images/background-index.jfif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

/******header*****/

header {
    display: flex;
    justify-content: space-between;
    text-shadow: 0px 0px 10px rgb(100, 100, 100);
    align-items: center;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
    background-color: rgba(43, 179, 122, 0.95);
    color: white;
    font-size: 22px;
    padding: 10px;
}

.titulo {
        display: flex;
        font-size: 200%;
        font-weight: normal;
    }
    
.logo {
    width: 50px;
}

.logo-titulo {
    display: flex;
    align-items: center;
    width: 50%;
}

.profilePicture {
    box-shadow: 10px 4px 4px rgba(129, 127, 127, 0.397);
    max-width: 100%;
    
}

h2 .profileName {
    font-size: 50px;
}

.barra-busqueda {
    display: flex;
    height: 46px;
    width: 40%;
    left: 1014px;
    top: 43px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    background-color:#227150;
    align-items: center;
    padding-left: 10px;
    margin-right: 5px;
    }

.barra-busqueda input {
    color: white;
    border:none;
    background-color: #227150;
    width: 70%;
    height: 100%;    
    }

.barra-busqueda ::placeholder {
    color: white;
    }

.barra-busqueda form {
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        }

.barra-busqueda:active {
        color: white;
        border: none;
        }

.barra-busqueda i {
    color: white;
    border:none;
    background-color: #227150;
    width: 100%;
    height: 100%;    
    }

.burger-menu {
        background-color: #227150;
        color: white;
        display: block;
        max-width: 50px;
        padding: 10px 0px;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        width: 40px;
       }

.search {
        background-color: #227150;
        color: white;
        width: 40px;
        display: flex;
        border: 0;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
}

.barra-titulo {  
        display: none;
        max-width: 1200px;
        margin: auto;
        }

 .barra-titulo ul {  
            display: flex;
        }

ul li {
        list-style:none;
        }



.iconos {
    display: none;
}

/****main*****/

.searchFail {
   font-size: 50%;
}

.searchFail h2 {
    width: 80%;
    color: rgba(43, 179, 122, 0.95);
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.searchFail h2 a{
    font-size: 1em;
    width: 80%;
    color: rgba(43, 179, 122, 0.95);
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.searchFail h2 a:hover{
    font-size: 1em;
    width: 80%;
    color: rgba(31, 124, 85, 0.95);
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.logo2 {
    display: none;
}

main {
    width: 100%;
    color: white;
    text-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
      }

.bienvenidos {
    background: rgba(43, 179, 122, 0.95);
    padding: 3rem;
    margin-top: 0px;
    height: 350px;
}

.login {
    background: rgba(43, 179, 122, 0.95);
    padding: 3rem;
    margin-top: 0px;
}

h2 {
        font-size: 25px;
        text-decoration:none;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
    }

h3 {
        font-size: 14px;
        text-decoration:none;
        font-style: normal;
        font-weight: lighter;
        padding-left: 2%;
    }
    

footer {
    display: block;
    align-items: center;
    justify-content: center;
    color:#666;
    background-color: rgba(43, 179, 122, 0.95);
    font-size: 14px;
    text-decoration:none;
    font-style: normal;
    font-weight: lighter;
    padding-left: 2%;
    color: white;
    height: 50px;
    text-shadow: 0px 0px 10px rgb(100, 100, 100);
    position: fixed;
    bottom: 0%;
    width: 100%;
    }
    
    .footer-paginas {
        position: relative;
        }
  
.footer-contenido {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%
}

.footer-1 {
    width: 33%;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-1a {
    width: 33%;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.footer-1a i {
    color: white;
    font-size: 20px;
    transition: all 500ms;
}

.footer-1a ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    max-width: 100px;
}

.footer-1a i:hover {
    color:  #227150;
}

.whatsapp img {
    width: 100%;
}

.whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 29%;
    right: 4px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
  }

.planta {
    position: fixed;
    left: -164.15px;
    top: 395px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(51.9deg);
    display: none;
}

/****EDITAR ****/
.formularioEditar {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    }

/******* LOGIN *****/

.formulariologin {
    display: flex;
    height: 100%;
   }

.formulario {
    width: 100%;
    height: 100%;
}

.imagenformulario {
    width: 100%;
    height: 100%;
    display: none;
    background-image: url("../images/login.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    }

    .imagenformulariocuenta {
        width: 100%;
        height: 100%;
        display: none;
        background-image: url("../images/creacuenta.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 70vh;
        }


    .imagenformularionuevoproducto {
            width: 100%;
            height: 100%;
            display: none;
            background-image: url("../images/nuevoproducto.jpg");
            background-color: #cccccc;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 70vh;
            }

.control-formulario{
    justify-content: center;
    display: flex;
    color: black;
    text-shadow: none;
}

.control-formulario label{
    margin-bottom: 5px;
    display: block;
    text-shadow: none;
    color:rgba(43, 179, 122, 0.95)
}

.control-formulario{
    margin-bottom: 15px;
    display: block;
    font-weight:800;
}

.control-tipoplanta label{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.control-formulario p {
    margin-bottom: 25px;
}

label {
    color: green;
}

.control {
    padding: 8px;
        box-shadow: 0px 4px 4px rgb(224 231 226);
        border: none;
        border-radius: 5px;
        color: black;
        font-weight: bolder;
        width: 100%;
}

.boton-formulario {
    background-color: rgba(43, 179, 122, 0.95);
    width: 100px;
    height: 25px;
    color: white;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(224, 231, 226);
    transition: all 400ms;
}

.boton-formulario:hover {
    background-color: #227150;
 }

 .boton-eliminar {
    background-color: rgba(43, 179, 122, 0.95);
    width: 200px;
    height: 25px;
    color: white;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(224, 231, 226);
    transition: all 400ms;
    margin-left: -15px;
}

.boton-eliminar:hover {
    background-color: #661e1e;
 }

.control-formulario-label .boton-formulario {
    color: white;
}

.boton-formulario-enviar {
    background-color: rgba(43, 179, 122, 0.95);
    width: 60%;
    height: 25px;
    color: white;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);   
    justify-content: center;
    margin: auto;
    display: flex; 
    transition: all 400ms;
}

.boton-formulario-enviar:hover {
    background-color: #227150;
}

.olvidaste {
    color:grey;
    text-shadow: none;  
    font-size: 10px;
    text-align: end;
    margin: 5px;
    padding: 10px;
    width: 90%;
}

.formulario-registracion {
    max-width: 350px;
    margin-top: 3rem;
}


form {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.create-form {
    padding: 15px 15px;
    display: none;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 179, 122, 0.95);
    padding: 50px;
    align-items: center;       
}

h2.profileName {
    font-size: 50px;
}

h2.profileEmail {
    font-size: 30px;
}

.profileDates {
    padding: 20px;
}

.botonLogout {
    background-color: rgb(31 124 85 / 95%);
    color: white;
    border-radius: 0px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 1000ms;
}

.marginBotones {
margin-bottom: 15px
}

.botonLogout:hover {
    background-color: #470808;
    color: white;
    border-radius: 0px;
    font-size: 18.5px;
    box-shadow: 5px 4px 4px rgba(243, 243, 243, 0.486);
 }


/****** PRODUCTOS ******/

.tituloproducto {
    text-transform: uppercase;
}

.seccionproducto{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(224, 231, 226);
    transition: 1500ms all;
}

.seccionproducto:hover{
   background-color: rgba(225, 228, 225, 0.753);
}

.seccionproducto:hover .imagenproducto img{
    width: 21em;
    height: 21em;
    box-shadow: 0px 0px 10px rgba(32, 6, 6, 0.301);
 }

 .seccionproducto a{
    transition: 1500ms all;;
 }
 .seccionproducto:hover a{
    color: rgb(34, 104, 62);
 }

.imagenproducto img {
    width: 20em;
    height: 20em;
    margin: auto 0px auto auto;
    display: flex;
    /* align-items: center; */
    transition: 1s;
    border-radius: 10px;
}


.imagenproducto {
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    margin: 20px;   
}



.datosproducto {
    color:rgba(43, 179, 122, 0.95);
    width: 90%;
    text-shadow: none;
    margin-left: 20px;
}

.datosproducto a{
    color:rgba(43, 179, 122, 0.95);
}

.datosproducto h2 {
    font-size: 60px;
}


.datosproducto h3 {
    font-size: 40px;
    margin-bottom: 5px;
}

.datosproducto h5 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.datosproducto h4 {
    font-size: 15px;
   }

.datosproducto h6 {
   color:white;
   background-color: rgba(43, 179, 122, 0.95);
   box-shadow: rgb(100, 100, 100);
   border-radius: 30px;
   height: 30px;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 200px;
}

.cantidad-agregar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cantidad-agregar h5 {
    margin-right: 10px;
}

.cantidad {
    margin-right: 10px;
}

.cantidad1 {
    display: flex;
    margin-bottom: 40px;
}

.cantidad1 a {
    color: white;
}

.cantidad1 a:hover {
    color: white;
}

/**** CARRITO ****/
.carrito {
    display: flex;
    flex-direction: column;
}

.productoeditar {
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    width: 90%;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: all 1s;
}

.productoeditar:hover {
    box-shadow: 0px 0px 10px #227150;
  }

  .productoeditar img {
    width: 100%;
  } 

.productocarrito1 {
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    width: 90%;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    transition: all 1s;
}

.productocarrito1:hover {
    box-shadow: 0px 0px 10px #227150;
  }

.productocarrito1 img {
  width: 100%;
}

.productocarrito1 h3 {
    color: black;
    text-shadow: none;
    font-size: 25px;
    font-weight: bold;
    
}

.productocarrito1 h4 {
    color:rgba(43, 179, 122, 0.95);
    text-shadow: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: -10px;
}

.productocarrito1 h5 {
    color:rgba(43, 179, 122, 0.95);
    text-shadow: none;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

.productocarrito1 h6 {
    color:rgba(43, 179, 122, 0.95);
    text-shadow: none;
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    margin-bottom: 20px;
    width: 50%;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.productocarrito1 i {
    color: grey;
    text-shadow: none;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
 }

 .productocarrito2 {
    width: 90%;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.productocarrito2 h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    background-color: rgba(43, 179, 122, 0.95);
    box-shadow: rgb(100, 100, 100);
    border-radius: 30px;
    width: 80%;
    height: 50px;
    display: flex;
    align-content: center;
     justify-content: center;
     align-items: center;
     font-size: 15px;
    transition: all 1s;
}

.productocarrito2 h6:hover {
   background-color: #227150;
}


.elegirarchivo {
    color: white;
}

input[type = "file"] {
    display: none;
}

/***************TABLET****************/

@media (min-width: 450px) {
.profile {
        flex-direction: row;
  }

    
 header {
        padding: 30px
    }
    
.burger-menu {
    display: flex;
    justify-content: center;
}

.main-header-top { 
justify-content: space-between;
}

.barra-titulo {  
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.barra-titulo ul {  
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.barra-titulo li {  
    margin: 0px 15px;
}

h2 {
    font-size: 50px;
    }   

h3 {
    max-width: 600px;
}

   
.sevende {
    justify-content: center;
}   

.formulariologin {
    display: flex;
    margin-top: 0%;
    height: 100%;
}

.formulario {
    display: flex;
    width: 100%;
    height: 100%;
}

.imagenformulario {
    width: 100%;
    display: flex;
}

.imagenformulariocuenta {
    width: 50%;
    display: flex;
}


.imagenformularionuevoproducto {
    width: 50%;
    display: flex;
}

.footer-paginas {
    position: fixed;
    }


/****EDITAR ****/
.formularioEditar {
    display: flex;
    padding-bottom: 40px;
    flex-direction: row;
    }

/****** PRODUCTOS TABLET ******/

/***CARRITO***/
.carrito {
    display: flex;
    flex-direction: row;
}

.productocarrito1 {
    width: 24%;
 }

.productocarrito1 i {
    color: grey;
    text-shadow: none;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
 }



.seccionproducto{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.imagenproducto {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 20px;   
}

.datosproducto {
    color:rgba(43, 179, 122, 0.95);
    width: 50%;
    text-shadow: none;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.datosproducto h2 {
    font-size: 60px;
}


.datosproducto h3 {
    font-size: 40px;
    margin-bottom: 5px;
}

.datosproducto h5 {
    font-size: 25px;
    margin-bottom: 5px;
}

.datosproducto h4 {
    font-size: 25px;
   }

.login h2 i {
       font-size: 70px;
   }

.productocarrito2 {
    width: 24%;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    transition: all 1s;
}

.footer {
position:absolute;
}



/*************PC*************/
@media (min-width: 769px) {

    ul {
        display: flex;
    }
    
header {
    padding: 50px
}


.barra-titulo{
    display: flex;
    width: 90%;
    justify-content: flex-end;
     
}

.barra-busqueda {
     width: 20%;
}

.titulo {
    display: flex;
    font-size: 50px;
    font-weight: normal;
}

.logo {
   width: 100px;
}

.logo-titulo {
    display: flex;
    align-items: center;
    width: 60%;
}
   
.iconos {
    display: flex;
    width: 100px;
    justify-content: space-around
}

main {
    height: 300px;
}

h2 {
    font-size: 80px;
}   

h3 {
    max-width: 600px;
}


.producto1 {
    width: 360px;
 }

.burger-menu{
        display: none;
   }

.main-header-bottom {  
    display: flex; 
    justify-content: space-between;

}
.main-header-bottom ul {
    display: flex; 
}
  
.main-header-bottom li {
    margin: 5px; 
}

.whatsapp {
    width: 161px;
    height: 161px;
    right: 4%;
    top: 38%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo2 {
    display: flex;
    position: absolute;
    width: 60%;
    min-width: 700px;
    left: -20%;
    top: 60%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(51.9deg);
}

.footer-1a ul {
    margin-right: 20px;
}

.footer-1a i {
    color: white;
    font-size: 25px;
    transition: all 500ms;
}

.planta {
    position: fixed;
    left: -196.15px;
    top: 525px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(51.9deg);
    display: flex;
}

.olvidaste {
    font-size: 14px;
   }

h2.profileName {
    font-size: 50px;
}

h2.profileEmail {
    font-size: 30px;
}

.profileDates {
    padding: 20px;
}

.botonLogout {
    color: white;
    border-radius: 0px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 1000ms;

}

.botonLogout:hover {
    background-color: #470808;
    color: white;
    border-radius: 0px;
    font-size: 18.5px;
    box-shadow: 5px 4px 4px rgba(243, 243, 243, 0.486);
 }
    
}

}